<%= form_for(@traficgowex) do |f| %>
  <% if @traficgowex.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@traficgowex.errors.count, "error") %> prohibited this traficgowex from being saved:</h2>

      <ul>
      <% @traficgowex.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_area :date %>
  </div>
  <div class="field">
    <%= f.label :hour %><br>
    <%= f.text_area :hour %>
  </div>
  <div class="field">
    <%= f.label :avrcv %><br>
    <%= f.text_area :avrcv %>
  </div>
  <div class="field">
    <%= f.label :minrcv %><br>
    <%= f.text_area :minrcv %>
  </div>
  <div class="field">
    <%= f.label :maxrcv %><br>
    <%= f.text_area :maxrcv %>
  </div>
  <div class="field">
    <%= f.label :avtr %><br>
    <%= f.text_area :avtr %>
  </div>
  <div class="field">
    <%= f.label :mintr %><br>
    <%= f.text_area :mintr %>
  </div>
  <div class="field">
    <%= f.label :maxtr %><br>
    <%= f.text_area :maxtr %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
