<%= link_to 'Wifi Users', wifiusers_path %>
<%= link_to 'Consos Wifi', wificonsos_path %>
<%= link_to 'Trafic Gowex', traficgowexes_path %>

<h1>Editing wifiuser</h1>

<%= render 'form' %>

<%= link_to 'Show', @wifiuser %> |
<%= link_to 'Back', wifiusers_path %>
