<%= link_to 'Wifi Users', wifiusers_path %>
<%= link_to 'Consos Wifi', wificonsos_path %>
<%= link_to 'Trafic Gowex', traficgowexes_path %>
<%= link_to 'Tweets', tweets_path %>

<h1>Listing wifiusers</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Users</th>
      <th>Gender</th>
      <th>Nationality</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wifiusers.each do |wifiuser| %>
      <tr>
        <td><%= wifiuser.year %></td>
        <td><%= wifiuser.month %></td>
        <td><%= wifiuser.users %></td>
        <td><%= wifiuser.gender %></td>
        <td><%= wifiuser.nationality %></td>
        <td><%= link_to 'Show', wifiuser %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wifiuser', new_wifiuser_path %>
