<%= link_to 'Wifi Users', wifiusers_path %>
<%= link_to 'Consos Wifi', wificonsos_path %>
<%= link_to 'Trafic Gowex', traficgowexes_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @wifiuser.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @wifiuser.month %>
</p>

<p>
  <strong>Users:</strong>
  <%= @wifiuser.users %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @wifiuser.gender %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @wifiuser.nationality %>
</p>

<%= link_to 'Edit', edit_wifiuser_path(@wifiuser) %> |
<%= link_to 'Back', wifiusers_path %>
