<%= link_to 'Wifi Users', wifiusers_path %>
<%= link_to 'Consos Wifi', wificonsos_path %>
<%= link_to 'Trafic Gowex', traficgowexes_path %>
<%= link_to 'Tweets', tweets_path %>

<h1>Listing tweets</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Username</th>
      <th>Userscreen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.status %></td>
        <td><%= tweet.username %></td>
        <td><%= tweet.userscreen %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
